footer.d-flex.flex-wrap.justify-content-center.align-items-center.bg-dark
  a.small.link-light.text-decoration-none href="https://github.com/pia-digiteer" target="_blank"
    | © 2025 Frances Pia Alexy Rey
