footer.fixed-bottom.d-flex.flex-wrap.justify-content-center.align-items-center.py-3.bg-dark
  a.text-white.text-decoration-none.lh-1 href="https://github.com/pia-digiteer" target="_blank" © 2025 Pia Rey
